<div class="funds__container">
  <h3 class="funds__title">Support Ukraine
    <svg class="funds__title-icon">
      <use href="./images/icon.svg#emblem" width="20" height="32"></use>
    </svg>
  </h3>
  <div class="funds__carousel swiper">
    <div class="funds__carousel-wrapper swiper-wrapper" id="fundsList"></div>
  </div>
  <div class="funds__carousel-button">
    <!-- <svg class="arrow-down">
      <use href="./images/icon.svg#funds-arrow"></use>
    </svg> -->
  </div>
  <div class="funds__carousel-button">
    <!-- <svg class="arrow-down">
      <use href="./images/icon.svg#funds-arrow"></use>
    </svg> -->
  </div>
</div>